@font-face {
    font-family: 'SoletoXB';
    src: url('SoletoXBold.ttf');
}

@font-face {
    font-family: 'SoletoL';
    src: url('SoletoLight.ttf');
}

html,body{
	margin:0px;
	background-color:black;
	height:100%;
	width:100%;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position: center;
}


.plan_dbl{
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	display:flex;
	justify-content:space-evenly;
	opacity:1;
}

.bg_white{
	background-color:white;
}
.plan_dbl  table tr:nth-child(odd){
	background-color:#eeeeee;
}

.category td{
	font-size:125%;
	border-bottom:0.5vh solid black;
	margin-bottom:1vh;
	padding:4vh 1vh 0vh 1vh;
	background-color:white;
	font-weight:bold;
	
}
td{
	padding:0.2vh 0.2vh 0.2vh 1vh;
	border-bottom:0.1vh solid black;
}

.plan_dbl table{
	font-size:3vh;
	opacity:1;
	font-family:'SoletoL';
	border-spacing:0px;
	margin-top:2.5vh;
	height:95vh;
	width:40vw;
}

.plan_HA table tr{
	font-size:2.6vh;
}

.plan_IT table tr{
	font-size:2.4vh;
}

.plan_dbl{
	z-index:5;
}

.dimmer{
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-color:#222222;
	opacity:0.9;
	position:absolute;
	z-index:1;
}

.meny {
	color:black;
	font-family:'SoletoL';
	position:absolute;
	right:0;
	top:10vh;
}

.flex_column{
	justify-content:space-evenly;

}

.meny .item{
	font-size:3vh;
	height:7vh;
	width:11vw;
	line-height:7.5vh;
	background-color:white;
	margin-top:5vh;
	text-align:center;
}


.meny .interest{
	font-size:2.5vh;
}

.meny .item:first-child{
	margin-top:0px;
}

.program{
	position:absolute;
	top:5%;
	opacity:0;
	width:100%;
	height:100%;
	z-index:0;
}

.bg_layer_1{
	background-image:url('layer_3.png');
	background-size:80%;
}

.HA_vandring{
	background-image:url('HA_vandring.svg');
	background-repeat:no-repeat;
	background-position: left; 
}

.EK_vandring{
	background-image:url('EK_vandring.svg');
	background-repeat:no-repeat;
	background-position: left;
	left:4%;
}

.IT_vandring{
	background-image:url('IT_vandring.svg');
	background-size:90%;
	background-repeat:no-repeat;
	background-position: left;
	top:5%;
}

.TE_vandring{
	background-image:url('TE_vandring.svg');
	background-repeat:no-repeat;
	background-position: left;
	left:4%;
}

.LEFT{
   right:4%;
}


.TElogo:first-of-type{
    margin-left:38.5%;
}

.TElogo{
    margin-top:0%;
    height:11.25%;
    margin-left:1%;
}


.ITlogo:first-of-type{
    margin-left:40%;
}

.ITlogo{
    height:11.6%;
    margin-left:1%;
}


.HAlogo:first-of-type{
    margin-left:54.5%;
}

.HAlogo{
    height:11.5%;
}


.EKlogo:first-of-type{
    margin-left:39%;
}

.GE{
    border-radius:100%;
}

.EKlogo{
    height:11.3%;
        margin-left:1%;

}


.NA_vandring{
	background-image:url('NA_vandring.svg');
	background-repeat:no-repeat;
	background-position: left; 
}

.bg_img{
	position:absolute;
}

.NTI_logo{
	background-image:url('NTI_logo.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position: center; 
	width:63vw;
	height:14vw;
	margin-top:5vh;
	z-index:1;
}
	
.choser{
	border-radius:100%;
	text-align:center;
	font-family: 'SoletoXB';
	color:white;
	width:14vw;
	height:14vw;
	margin-top:30vh;
	max-width:40vh;
	max-height:40vh;
	
}

.choser h1{
	margin:0px;
	font-size: 5vw;
	line-height:15vw;
}

.choser_container{
	display:flex;
	justify-content:space-evenly;
	flex-direction:column;
}

.choser_flex{
	display:flex;
	justify-content:space-evenly;
	flex-direction:row;
}

.EK_color{
	background-color:#ffffff;
	color:black;
}

.HA_color{
	background-color:#0de1ec;
}

.IT_color{
	background-color:#4b0082;
}

.TE_color{
	background-color:#dd0890;
}

.NA_color{
	background-color:#200c9c;
}